<div class="input-field col s6">

	<h1>Edit Recipe</h1>
	<%= form_with model: @post do |f| %>
		<%= f.text_field :title, placeholder: 'Title' %>
		<%= f.text_area :content, placeholder: 'Content' %>
		<a class="waves-effect waves-light btn"><%= f.submit %></a>
	<% end %>

</div>

